.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}


body {
	background-color: rgba(49, 126, 172, .5);
	padding: 20px;
	.alert {
		margin-bottom: 10px !important;
	}

	.container {
		background-color: #fff;
		padding:20px;
		.box-shadow(3px 3px 10px 5px)

	}

	.hero-unit {
		margin-top: 80px;
	}

}

#vis {
	border: 2px solid #777;
	margin:10px ;
	padding:10px ;
	min-height: 100px;
	max-width: 900px;
	.box-shadow(3px 3px 10px 5px)

	#waiting {
		margin: 50px;
		color: #555;
	}

	.domain {
		visibility: hidden;
	}
}

#now_showing {

	h1 {
		margin: 5px;
	}
	p {
		margin: 5px;
		min-height: 50px ;

		&#rescale {
			cursor: pointer;
			color: #249;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.current_x_axis, .current_y_axis {
	color: #942;
	&:hover {
		color: #c96;
	}
}

#value_container {
	margin: 8px;
}

#filter_container {
	background-color: white;
	.filters {

		max-height:200px;
		overflow-y:scroll;


		.active {
			background-color: #cfd;

			&:hover{ 
				background-color: #bfc;
			}
		}

		.controller {
				cursor:pointer;
		}

		.filter_box {
			margin-top: 5px;
		}

		.value {
			display: block;
		}
	}



}