.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}


body {
	padding: 20px;
	.alert {
		margin-bottom: 10px !important;
	}
}

#vis {
	border: 2px solid #777;
	margin:10px ;
	padding:10px ;
}
#now_showing {
	/* position:absolute;
	top:25px;
	left:40px;
	*/

	h1 {
		margin: 5px;
	}
	p {
		margin: 5px;

		&#rescale {
			cursor: pointer;
			color: #249;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

#vis {
	min-height: 100px;
}

.domain {
	visibility: hidden;
}



.filters {

	max-height:100px;
	overflow-y:scroll;

	tr {

		&.active td {
			background-color: #cfd;

			&:hover{ 
				background-color: #bfc;
			}
		}

	}

	.controller {
			cursor:pointer;
	}

}

.current_x_axis {
	color: #942;
}